@import url('Root.css');

.dropdown {
    margin-top: 15px;
    width: 100px;
    transform: translateX(30%);
    overflow: hidden;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    border: var(--border);
    position: fixed; 
    z-index: 10; 
}

#header {
margin-top: 50px;
}
.btn.nav-btn {
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    width: 97px;
    height: 25px;
    color: var(--text-color);
    z-index: 12;
    padding:0;
}

li {

}

.btn:hover {
    background-color: var(--secondary-color);
}

ul.dropdown-nav.slide-open-enter {
    opacity: 0;
    transform: translateY(-110%);
}

ul.dropdown-nav.slide-open-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 200ms;
}

.slide-open-enter {
    opacity: 0;
    transform: translateY(-110%);
}

.slide-open-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 200ms;
}

.slide-open-exit {
    opacity: 1;
    transform: translateY(0%);
}

.slide-open-exit-active {
    opacity: 0;
    transform: translateY(-110%);
    transition: all var(--speed);
}

