@import url('Root.css');

.nav-item {
    background-color: var(--main-color);
    transition: background var(--speed);
    border-radius: var(--border-radius);
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: all var(--speed) ease-in-out;


}

.nav-item:hover {
    background-color: var(--secondary-color);
}