@import url('Root.css');

.emailForm {
    height:100%;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 70%;
}

.social-media {
    color:var(--main-color);
    height: 40px;
    width: 40px;
    margin-left: auto;
    float:right;
}

.btn.btn-primary {
    color: white;
    background-color: var(--main-color);
    border: 8px;
}