
:root {
    --main-color:  #212529;
    --secondary-color: #4d5155;
    --text-color: white;
    --speed: 500ms;
    --border: 3px solid var(--main-color);
    --border-radius: 8px;
}

html, body {
    height: 100%;
    margin: 0;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    text-decoration: none;
}